@font-face {
  font-family: 'Icon';
  src: url('../fonts/19514.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Road';
  src: url('../fonts/17890.otf');
  font-weight: normal;
  font-style: normal;
}
